[Unit]
Description=GMediaRender UPnP/DLNA renderer
After=network.target sound.target

[Service]
Type=simple
User=gmediarender
Group=gmediarender
ExecStart=/usr/bin/gmediarender --port=49494

[Install]
WantedBy=multi-user.target
