#!/usr/bin/make -f
export DEB_BUILD_HARDENING=1

%:
	dh $@

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure --

override_dh_auto_clean:
	if [ -e ./Makefile ]; then make maintainer-clean; fi
	xargs rm -f < debian/autoconf.files
	dh_auto_clean --
